body
{
    background-color: #444154;
}

h1
{
    text-align: center;
    color: #fec9c1;
    padding: 1ex;
}

h1:hover
{
    transform: scale(1.5);
    color: #ff7062;
}

section
{
    margin: 5% auto;
    padding: 1ex;
    width: 50%;
    background-color: #7a637f;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10ex; 

    iframe
    {
        margin-bottom: 5%;
    }

    a
    {
        font-size: 3ex;
    }

    .round-widget
    {
        border-radius: 10ex; 
        box-shadow: 0px 0px 20px #ff7062;
        padding: auto;
    }

    .round-widget:hover
    {
        transition: all 0.5s ease-in-out;
        transform: scale(1.1);
        box-shadow: none;
    }
}